# Introduction to Lists Lab

### Introduction

In this lesson, we'll see how to create and work with lists.  We'll do this working with some fake revenue data from Max's Wine Bar.

Now Max's Wine Dive is a restaurant with multiple locations in Texas.

<img src='https://raw.githubusercontent.com/eng-6-22/mod-1-fundamentals/main/max-maps.png' width="50%">

Let's use our knowledge of lists to answer questions about the bar.

### Creating a list

Let's imagine that we are tracking Max's revenue for the first 5 months.  The bar earned `300000` the first month, `285000` the second month, `325000` the third month, and `318000` the fourth month. Initialize a list with these numbers and assign it to the variable `revenues`.

In [1]:
revenues = None

Now select the first element from the list.

In [2]:

# 300000

Ok, now it's time to select the revenue earned in the last month.

In [3]:
# 318000

Now, practice slicing the two middle revenues from our list.

In [4]:

# [285000, 325000]

Finally, calculate the length of the list.

In [5]:

# 4

### Altering the list

As we may know once our list is created, we can add and remove elements to our list.  Let's imagine that we just received another the revenue for our fifth month of `21000`. Add this amount to the end of our revenues list.

In [3]:

# add the additional revenue to the end of the list in this cell

In [4]:
revenues

# [300000, 285000, 325000, 318000, 21000]

[300000, 285000, 325000, 318000, 21000]

Now, if we need to remove an element from a list we can do so with the `pop` method.  For example, call `revenues.pop()` and take a look at the variable revenues after doing so.

In [ ]:
revenues

# [300000, 285000, 325000, 318000]

Next, let's find largest and smallest numbers in the list with the use of the `sorted` method.

In [8]:
max_revenue = None

max_revenue

# 325000

325000

In [9]:
min_revenue = None

min_revenue

# 285000

285000

Now here are a list of customers that our restaurant had in the past day.  Find the number of customers that showed up more than once.

In [16]:
customers = ['Lowell Appleberry', 'Elisha Guillen', 'Benita Ryals', 'Destiny Nester',
 'Particia Race', 'Rosemarie Dolan', 'Rachal Funderburk', 'Onie Ballerini',
         'Lucie Lowery', 'Graham Mirsky', 'Azucena Curtis', 'Era Veillon',
 'Whitley Ensign', 'Manie Owensby', 'Lucie Lowery', 'Niki Backman', 'Benita Ryals', 'Ulysses Wei',
 'Florida Fryar', 'Kathrine Hyden', 'Soo Pinkney', 'Tarra Rich']

In [17]:
# write code here

# 2

2

### Summary

In this lesson we practiced some of the functions that we have available with lists.  We saw that we can add elements to a list with `append`, remove them with `pop`, and sort a list with the `sorted` method.  We also practiced slicing elements with a list.